.d-flex {
    display: flex;
    flex-direction: row;
    height: 100vh; 
  }
  
  .sidebar {
    flex: 0 0 250px; 
    background-color: #f8f9fa; 
    border-right: 1px solid #ddd; 
    padding: 20px;
    overflow-y: auto; 
  }
  
  .content {
    flex: 1; 
    padding: 20px;
    overflow-y: auto; 
    background-color: #ffffff; 
  }
 .sidebar{
  padding: 0px;
 }
 @media (max-width: 800px) {
  .content {
    width: 350px;
  }

  .sidebar {
    width: 200px;
  }
}