<div class="orders-container">
    <div class="order-section" *ngFor="let order of orders">
      <h3 style="color:rgba(132, 84, 252, 1);;">Recent orders</h3>
      <div class="order-card in-progress">
        <img [src]="order.image" alt="Product Image" class="product-image" />
        <div class="order-details">
          <h4>{{order.name}}</h4>
          <p>Walmart & Tasco</p>
          <p>Order type: <strong>Delivery</strong></p>
          <p>Delivery time: <strong>10:00-10:20</strong></p>
        </div>
        <a type="button" class="details-link" (click)="showDialogue()">Details ></a>
      </div>
    </div>
  </div>

  
  <div class="card">
    <p-dialog  header="Cart" 
    [(visible)]="visible" 
    [modal]="true" 
    position="center" 
    [style]="{ width: '28rem' }"
    [draggable]="false"
    [resizable]="false"
    [breakpoints]="{ '960px': '90vw', '640px': '100vw' }"
    [dismissableMask]="true">
      <div class="cart-container">
        <div class="cart-header">
          <h2>Cart  items</h2>
        </div>
        <hr />
        <div class="cart-item" >
          <img [src]="" alt="Product Image" class="product-image" />
          <div class="cart-item-details">
            <p class="cart-item-name"></p>
            <p  class="cart-item-color"></p>
            <p class="cart-item-price" >₹</p>
          </div>
        </div>
        <hr />
        
      </div>
  </p-dialog> 
  