<h1>My Credit Cards</h1>
<div class="card-container">
    <div *ngFor="let card of cards" class="card">
      <img src="assets/card.png" alt="{{ card.bankName }}" class="card-image" />
      <div class="card-header">
        <h3>{{ card.bankName }}</h3>
        <p class="card-number">**** **** **** {{ card.last4 }}</p>
      </div>
      <div class="card-body">
        <p>Cardholder: Test card</p>
        <p>Expiry: {{ card.expMonth}} / {{card.expYear}}</p>
        <button 
        [class.default]="card.isDefault" 
        (click)="setDefaultCard(card.id)"
        [disabled]="card.isDefault" 
        >
        {{ card.isDefault ? 'Default Card' : 'Set as Default' }}
      </button>
      </div>
    </div>
  </div>
  