<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="category">Category</label>
      <select id="category" formControlName="categorie">
        <option *ngFor="let categorie of categories" [value]="categorie.name">
          {{categorie.name}}
        </option>
      </select>
    </div>
    <div>
      <label for="productName">Product Name</label>
      <input id="productName" formControlName="name" type="text" />
    </div>
    <div>
      <label for="description">Description</label>
      <textarea id="description" formControlName="description"></textarea>
    </div>
    <div>
      <label for="price">Price</label>
      <input id="price" formControlName="price" type="number" />
    </div>
    <div>
      <label for="profileImage">Profile Image</label>
      <input id="profileImage" type="file" (change)="onFileChange($event,productForm)" />
    </div>
    <button type="submit" [disabled]="productForm.invalid">Add Product</button>
  </form>
  