

<div class="product-container">
    <div class="product-card" *ngFor="let product of products">
      <img [src]="product.image" alt="Product Image" class="product-image" />
      <div class="product-details">
        <p class="product-price">$ {{ product.price }}</p>
        <button class="add-to-cart-btn" (click)="addItem(product)">Add to Cart</button>
        <h2 class="product-name">{{ product.name }}</h2>
        <p class="product-description">{{ product.description }}</p>
      </div>
    </div>
  </div>
  
  <div class="card">
  <p-dialog  header="Cart" 
  [(visible)]="visible" 
  [modal]="true" 
  position="center" 
  [style]="{ width: '28rem' }"
  [draggable]="false"
  [resizable]="false"
  [breakpoints]="{ '960px': '90vw', '640px': '100vw' }"
  [dismissableMask]="true">
    <div class="cart-container">
      <div class="cart-header">
        <h2>Cart ({{ data.length }} items)</h2>
      </div>
      <hr />
      <div class="cart-item" *ngFor="let cart of data">
        <img [src]="cart.image" alt="Product Image" class="product-image" />
        <div class="cart-item-details">
          <p class="cart-item-name">{{ cart.name }}</p>
          <p  class="cart-item-color"></p>
          <p class="cart-item-price" >₹{{cart.price}}</p>
        </div>

        <div class="cart-item-quantity">
          <button class="quantity-btn" (click)="decrementQuantity(cart)">-</button>
          <!-- <input type="number" [(ngModel)]="cart.quantity" class="quantity-input" min="1" /> -->
          <input
          type="number"
          [(ngModel)]="cart.quantity"
          class="no-spinners"
          min="1"
        />
          <button class="quantity-btn" (click)="incrementQuantity(cart)">+</button>
        </div>
        <p class="cart-item-total">₹{{cart.totalPrice}}</p>
        <button class="delete-item-btn" (click)="removeItem(cart)">🗑️</button>
      </div>
      <hr />
      <div class="cart-summary">
        <div class="summary-row">
          <p>Subtotal</p>
          <p ([ngModel])="subtotal">₹{{subtotal}}</p>
        </div>
        <p class="cart-summary-note">Taxes and shipping are calculated at checkout.</p>
        <button class="checkout-btn" (click)="createOrder()">Checkout</button>
        <button class="view-cart-btn" (click)="goToCart()">View Cart</button>
        <p class="secure-checkout">🔒 Secure Checkout</p>
      </div>
    </div>
</p-dialog> 
<p-toast></p-toast>