<div class="card flex justify-center">
    <p-togglebutton [(ngModel)]="checked" onLabel="On" offLabel="Off" styleClass="w-24" />
</div>


<div class="card">
    <!-- Title above the table -->
    <h3 class="table-title">Users</h3>
<p-table [value]="users" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records" [rowsPerPageOptions]="[5, 10, 20]">
    <ng-template pTemplate="header">
        <tr id="quesTblHeader">
            <th style="width: 14%;">Name</th>
            <th style="width: 20%;">Email</th>
            <th style="width: 13%;">Gender</th>
            <th style="width: 13%;">Phone</th>
            <th style="width: 13%;">LastLogin</th>
            <th style="width: 13%;">LoginCount</th>
            <th style="width: 13%;">Address</th>
            <th style="width: 13%;">Active</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr >
            <td>{{ user.firstName + user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.gender }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.lastLogin | date }}</td>
            <td>{{ user.loginCount }}</td>
            <td>{{ user.address }}</td>
            <td>
                <p-button
                  [label]="user.isActive ? 'Enable' : 'Disable'"
                  [ngClass]="{'p-button-primary': user.isActive, 'p-button-danger': !user.isActive}"
                  (click)="toggleActiveStatus(user)"
                ></p-button>
              </td>
        </tr>
    </ng-template>
</p-table>




